This is the home page!!
<div>
  <%= link_to 'About', '/pages/about' %>
</div>
<div>
  <%= link_to 'Articles', '/articles/index' %>
</div>
<div>
  <%= link_to 'Contact', '/pages/contact' %>
</div>
<div>
  <%= link_to 'Post a New Article', '/articles/new' %>
</div>